---
import MainLayout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Generate paths for all blog posts
export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');
  return blogPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Get the post data from the props
const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={`${post.data.title} - Fluxx by Digitalbox`}>
<!-- Main -->
<div id="main">

	<!-- Post -->
	<section class="post">
		<header class="major">
			<span class="date">{post.data.date}</span>
			<h1>{post.data.title}</h1>
			<p>{post.data.description}</p>
		</header>
		<div class="image main"><img 
			src={post.data.featuredImage} 
			alt={post.data.title} 
		  /></div>
        <Content />
    </section>

</div>
</MainLayout>
